<div class="login center">
  <h1>Hey there!</h1>
  <p>You'll be redirected to a provider to login to your account!</p>

  <a role="button" class="button" href="/auth/github">Login with GitHub</a>
  <a role="button" class="button" href="/auth/google">Login with Google</a>
</div>
